/**
 * @file
 * Layout styling
 */
body {
  margin:0;
  padding: 0;
  color: #363636;
  font-family: Arial,Tahoma,Verdana;
  font-size: 12px;
  background:url('../images/bg-not-front.gif') no-repeat center top #F5F5F5;
}

body.with-banner {
  background:url('../images/bg-pattern-t.gif') no-repeat center top #F5F5F5;
}

body.toolbar-drawer {
  background-position: center 65px !important;
}

/**
 * header
 */
#header{
  margin-bottom:30px;
}

body.with-banner #header{
  margin-bottom:0px;
}

#header .section{
  width:940px;
  margin:0 auto;
  height: 100px;
  overflow:hidden;
}

#site-logo-and-name {
  float: left;
  width: 400px;
}

.with-slogan #header .section{
  height:120px;
}

#name-and-slogan{
  margin-top:30px;
}

#site-name{
  margin:0;
  font-size:40px;
  font-weight:lighter;
  line-height:normal;
  float:left;
}

#site-name a{
  color:#FFFFFF;
  text-decoration:none;
  font-family: SansationLight;
}

#site-name a:hover {
  text-decoration:none;
}

#site-slogan{
  clear: both;
  color: #C0C0C0;
  font-size: 12px;
  font-style: italic;
  line-height: 5px;
  margin-left: 0;
}

/**
 * Banner
 */
#banner {
  background: url("../images/shadow.png") no-repeat scroll center bottom transparent;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 50px;
  position: relative;
  width: 940px;
  height:400px;
}

#banner p{
  margin:0;
}

#slider {
  height:400px;
  width:940px;
}

/**
 * Hightlight
 */
#highlight {
  width:800px;
  margin:0 auto;
  padding:20px 0;
}

#highlight h1,
#highlight h2 {
  border-color: #CCCCCC;
  border-style: dashed;
  border-width: 1px 0;
  font-family: DroidSerifItalic;
  font-size: 22px;
  font-weight: normal;
  padding: 5px 0;
  text-align: center;
}

/**
 * Page wrapper
 */
#page-wrapper{
  width:940px;
  margin:0 auto;
}

#main {
  padding:30px 0 50px;
}

body.with-banner #main{
  padding:0 0 50px;
}

/**
 * Sidebar
 */
.with-sidebar #main {
}

.with-sidebar #content {
  float:left;
  width:600px;
}

.with-sidebar #sidebar {
  margin-left:680px;
}

/**
 * Footer
 */
#footer{
  background:url('../images/bg-pattern.gif') no-repeat center top #0B0D12;
  clear:both;
}

#footer .section{
  width:940px;
  padding:30px 0;
  overflow:hidden;
  color: #5C5D5E;
  font-size:11px;
  margin:0 auto;
}