/**
 * @file
 * Menu and Navigation styling
 */

#main-menu {
  margin-left:400px;
  overflow:hidden;
  height:100px;
  line-height:100px;
  font-family: SansationLight;
  width:540px;
}

.with-slogan #main-menu{
  height:120px;
  line-height:120px;
}

#main-menu ul.links {
  float:right;
}

#main-menu ul.links{
  overflow:hidden;
}

#main-menu ul.links li{
  float:left;
  margin:0 0 0 25px;
  list-style:none outside none;
}

#main-menu ul.links li a{
  color: #C0C0C0;
  text-decoration:none;
  font-size:14px;
}

#main-menu ul.links li a.active{
  color:#fff;
}

#main-menu ul.links li a:hover{
  text-decoration:underline;
}
