/**
 * @file
 * Specific node styling
 */

.node{
  margin: 0px 0 65px;
  position:relative;
}

.node h2 {
  font-size:20px;
  color:#000;
  margin-top:0;
  line-height:20px;
}

.node .submitted {
  background: none repeat scroll 0 0 #111111;
  color: #FFFFFF;
  padding: 5px 10px;
  position: absolute;
  top:-10px;
  left:-10px;
}

.node .submitted a{
  color:#FFFFFF;
  text-decoration:underline;
}

.node a{
  color:#000;
}

.node ul.links {
  margin:0;
  padding:0;
  display:block;
}

.node ul.links li {
  list-style:none outside none;
  margin:0 10px 0 0;
  padding:0;
}

.node ul.links li a {
  color:#828282;
}

/**
 * Blog
 */
.node-blog h2.node-title{
  background: none repeat scroll 0 0 #FFFFFF;
  margin: 0;
  padding: 40px 20px 0;
}

.node-blog-has-picture h2.node-title{
  padding: 15px 20px 0;
}

.node-blog .content{
  padding:10px 20px;
  background:#FFFFFF;
}

.node-blog .field-type-image{
  overflow:hidden;
  width:600px;
  height:300px;
}

.node-blog .field-type-image .field-label{
  display:none;
}

.node-blog ul.links {
  padding:10px 20px 20px;
  background:#FFFFFF;
}