/**
 * @file
 * Panels styling
 */
.panel-display{
  overflow:hidden;
}

.panel-col-first{
  width:620px;
  margin-right:30px;
  float:left;
  font-size:11px;
}

.panel-col-first a{
  color:#828282;
}

.panel-col-last{
  background: url("../images/gradient-side.gif") repeat-y scroll 0 0 transparent;
  float: left;
  padding-left: 20px;
  width: 270px;
}

.panel-pane{
  margin-bottom:45px;
}

.panel-col-last ul li{
  padding:10px;
  border-bottom:1px solid #e7e7e7;
  background:url('../images/bullet-arrow.gif') no-repeat left 15px transparent;
}

.panel-col-last ul li p{
  margin:0;
}

h2.pane-title{
  font-weight:normal;
  font-size:20px;
}

.panel-col-last a{
  color:#363636;
}

.panel-col-last a:hover, .panel-col-first a:hover{
  text-decoration:underline;
}

.panel-pane-banner {
  background: url("../images/shadow.png") no-repeat scroll center bottom transparent;
  height: 440px;
  margin-bottom: 40px;
  overflow: hidden;
  padding-bottom: 8px;
  position: relative;
  width: 940px;
}

.panel-pane-banner img{
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

.panel-pane-content-middle h3{
  color: #A0A0A0;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0 auto;
  text-align: center;
  width: 690px;
}

.panel-pane-content-middle ul{
  overflow:hidden;
  margin-top: 40px;
}

.panel-pane-content-middle ul li{
  float:left;
  width:205px;
  overflow:hidden;
}

.panel-pane-content-middle ul li.second{
  margin:0 40px;
}

.panel-pane-content-middle ul li.third{
  margin-right:40px;
}

.panel-pane-content-middle ul li h2{
  font-weight:normal;
  font-size:17px;
  text-transform:uppercase;
  color:#6B6B6B;
}

.panel-pane-content-middle ul li img{
  float:left;
  margin-right:10px;
}

.panel-pane-content-middle ul li span{
  color: #818181;
  font-size: 11px;
  font-weight:normal;
}

.panel-pane-content-middle ul li p{
  clear:both;
}

.panel-pane-content-middle ul li a{
  color: #828282;
}

/****************
 * panel-pane-blog
 ***************/
.panel-pane-blog ul li{
  overflow:hidden;
  margin: 40px 0 65px;
}

.panel-pane-blog ul li .views-field-title a{
  font-size:19px;
  color:#000;
}

.panel-pane-blog ul li .views-field-posted-by, .panel-pane-blog ul li .views-field-posted-in,
.panel-pane-blog ul li .views-field-date, .panel-pane-blog ul li .views-field-comments{
  float:left;
  margin-right:15px;
}

.panel-pane-blog ul li .views-field-comments{
  background:url('../images/divider-grey.gif') no-repeat left center transparent;
  padding-left:15px;
}

.panel-pane-blog ul li .post-wrapper{
  border-style:solid;
  border-color:#e7e7e7;
  border-width:1px 0;
  overflow:hidden;
  margin: 10px 0 30px;
}

.panel-pane-blog ul li .views-field-image img{
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

.panel-pane-blog ul li .views-field-description p{
  font-size: 12px;
  line-height: 18px;
}

.panel-pane-blog ul li .views-field-read-more a{
  font-size:12px;
}

/****************
 * panel-pane-testimonial
 ***************/
.panel-pane-testimonial p.first{
  background:url('../images/quote.png') no-repeat left top transparent;
  font-style:italic;
}

.panel-pane-testimonial p span{
  display:block;
}

/****************
 * panel-pane-contact
 ***************/
.panel-pane-contact{
  font-size:12px;
}

.panel-pane-contact p.red{
  color:#FF0000;
  font-size:11px;
}

.panel-pane-contact p.info{
  color:#777;
  font-weight:bold;
}

/***************
 *panel-pane-address
 **************/
.panel-pane-address p{
  line-height:20px;
}












